<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="conatiner">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-center"><strong>Profile</strong></h4>
                    <hr>
                    <div class="profile-card-2"><img src="" class="profile-image">
                        <div class="profile-name">Welcome <%= user.firstName %>.</div>
                        <div class="profile-email">Your Email: <%= user.email %></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="profile-overview">
                                <p>Your WishList</p>
                            </div>
                            <div class="add-button">
                                <a href="/flights/new"><button type="button" class="btn btn-success btn-sm">Add
                                        Flight</button></a>
                            </div>
                        </div>
                    </div>
                </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>