<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="p-conatiner">
        <div class="p-card">
            <div class="text">
                <img id="p-img" src="https://i.pinimg.com/originals/3f/94/70/3f9470b34a8e3f526dbdb022f9f19cf7.jpg" alt="">
                <h3>Welcome <%= user.firstName %>.</h3>
                <p>myFlight Member <%= user.email %></p>
                <p>
                    Wishlist <br>
                    <p class="update">
                        update comming soon to add to wishlist <br>
                        as well as adding multiple profiles!

                    </p>
                </p>
            </div>
            <div class="p-button">
                    <a href="/flights/new"><button type="button" class="btn btn-success btn-sm">Add
                            Flight</button></a>
                </div>
            </div>
        </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-center"><strong>Profile</strong></h4>
                    <hr>
                    <div class="profile-card-2"><img src="" class="profile-image">
                        <div class="profile-name">Welcome <%= user.firstName %>.</div>
                        <div class="profile-email">Your Email: <%= user.email %></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="profile-overview">
                                <p>Your WishList</p>
                            </div>
                            <div class="add-button">
                                <a href="/flights/new"><button type="button" class="btn btn-success btn-sm">Add
                                        Flight</button></a>
                            </div>
                        </div>
                    </div>
                </div> -->
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>