<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="container">
        <div class="card-group">
            <% for(flight of flights){ %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">$<%= flight.price %></h5>
                    <p class="card-text"><%= flight.from %> - <%= flight.to %></p>
                    <p class="card-text"><small class="text-muted"><%= flight.airline %></small></p>
                </div>
                <div class="card-footer">
                    <small>
                        <a href="/flights/<%= flight._id %>" class="card-link">more info</a>
                        <a href="#" class="card-link">add to wishlist</a>
                    </small>
                </div>
            </div>
            <% } %>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>